In [2]:
#Python cannot work with SQL. It can do it through sqlite.

import sqlite3 as sq

In [4]:
# create connection with SQL

cn = sq.connect('first_database.db')

In [5]:
# Create cursor (cr) - smth what transfer commands to SQL from Python

cr = cn.cursor()

In [7]:
#execute - command for cursor to transfer query to database
#keywords in SQl is written by Capital letter. Names of columns 
#and others words which we come up with by ourselves - by little letters
# we already created database (connected to it) and now we create table "users"
# create columns "id INT PRIMARY KEY" - ID is integere and unique
# column "name VARCHAR(30)" - name "VARCHAR" of 30 letters
# column age is int

cr.execute('CREATE TABLE users (id INT PRIMARY KEY, name VARCHAR(30), age INT)')

In [9]:
# connection.commite - commite means save your action

cn.commit()

In [27]:
# cursor.execute - give values to columns (id, name, age) in table (users)

cr.execute('INSERT INTO users (id, name, age) VALUES (4, "Scott", 54)')

In [28]:
cr.execute('INSERT INTO users (id, name, age) VALUES (5, "Alex", 34)')

In [30]:
cn.commit()

In [32]:
# now we take data - SELECT * - choose everything
cr.execute('SELECT * FROM users')

In [33]:
# reflect data which cursor selected and took from table
# fetchall - take all

cr.fetchall()

[(1, 'Andy', 34),
 (2, 'Berk', 21),
 (3, 'Andy', 34),
 (4, 'Scott', 54),
 (5, 'Alex', 34)]

In [34]:
cr.execute('SELECT name, age FROM users')

In [35]:
cr.fetchall()

[('Andy', 34), ('Berk', 21), ('Andy', 34), ('Scott', 54), ('Alex', 34)]

In [36]:
user = [6, 'Serge', 56]

In [39]:
#insert new user into table. VALUE (?, ?, ?) means that new data will be added instead of ? later

cr.execute('INSERT INTO users (id, name, age) VALUES (?, ?, ?)', user)

IntegrityError: UNIQUE constraint failed: users.id

In [40]:
cn.commit()

In [41]:
cr.execute('SELECT * FROM users')

In [42]:
cr.fetchall()

[(1, 'Andy', 34),
 (2, 'Berk', 21),
 (3, 'Andy', 34),
 (4, 'Scott', 54),
 (5, 'Alex', 34),
 (6, 'Serge', 56)]

In [43]:
cr.execute('INSERT INTO users (id, name, age) VALUES (?, ?, ?)', [7, 'Charles', 41])

In [44]:
cn.commit()

In [45]:
cr.execute('SELECT * FROM users')

In [46]:
cr.fetchall()

[(1, 'Andy', 34),
 (2, 'Berk', 21),
 (3, 'Andy', 34),
 (4, 'Scott', 54),
 (5, 'Alex', 34),
 (6, 'Serge', 56),
 (7, 'Charles', 41)]

In [47]:
users = [
    [8, 'Sue', 20],
    [9, 'shane', 72]
]

In [50]:
for i in users:
    cr.execute('INSERT INTO users (id, name, age) VALUES (?, ?, ?)',i)

In [51]:
cn.commit()

In [52]:
cr.execute('SELECT * FROM users')

In [53]:
cr.fetchall()

[(1, 'Andy', 34),
 (2, 'Berk', 21),
 (3, 'Andy', 34),
 (4, 'Scott', 54),
 (5, 'Alex', 34),
 (6, 'Serge', 56),
 (7, 'Charles', 41),
 (8, 'Sue', 20),
 (9, 'shane', 72)]

In [54]:
#another way of adding new elements in table:

users2 = [
    [10, 'Helen', 18],
    [11, 'Ilya', 88]
]

In [55]:
cr.executemany('INSERT INTO users (id, name, age) VALUES (?, ?, ?)', users2)

In [56]:
cn.commit()
cr.execute('SELECT * FROM users')

In [57]:
cr.fetchall()

[(1, 'Andy', 34),
 (2, 'Berk', 21),
 (3, 'Andy', 34),
 (4, 'Scott', 54),
 (5, 'Alex', 34),
 (6, 'Serge', 56),
 (7, 'Charles', 41),
 (8, 'Sue', 20),
 (9, 'shane', 72),
 (10, 'Helen', 18),
 (11, 'Ilya', 88)]