In [7]:
import random as rd
import sqlite3 as sq

In [3]:
cn = sq.connect('names.db')

In [4]:
cr = cn.cursor()

In [5]:
cr.execute('CREATE TABLE IF NOT EXISTS names(id INT PRIMARY KEY, name TEXT, age INT)')

In [6]:
cn.commit()

In [8]:
people = []
d = 1
for i in range(100):
    vr = []
    vr.append(d)
    vr.append(rd.choice(['f', 'm']))
    vr.append(rd.randint(18, 69))
    people.append(vr)
    d += 1

In [9]:
people[:10]

[[1, 'm', 64],
 [2, 'f', 51],
 [3, 'f', 27],
 [4, 'f', 52],
 [5, 'f', 54],
 [6, 'm', 66],
 [7, 'f', 28],
 [8, 'f', 51],
 [9, 'm', 54],
 [10, 'm', 68]]

In [10]:
people[-10:]

[[91, 'f', 20],
 [92, 'f', 35],
 [93, 'm', 18],
 [94, 'm', 60],
 [95, 'f', 56],
 [96, 'f', 45],
 [97, 'f', 67],
 [98, 'f', 26],
 [99, 'm', 18],
 [100, 'f', 27]]

In [11]:
cr.executemany('INSERT INTO names(id, name, age) VALUES(?, ?, ?)', people)

In [12]:
cn.commit()

In [13]:
cr.execute('SELECT * FROM names')

In [14]:
cr.fetchmany(5)

[(1, 'm', 64), (2, 'f', 51), (3, 'f', 27), (4, 'f', 52), (5, 'f', 54)]

In [15]:
cr.execute('SELECT name, age FROM names')

In [16]:
cr.fetchmany(5)

[('m', 64), ('f', 51), ('f', 27), ('f', 52), ('f', 54)]

In [17]:
cr.execute('SELECT * FROM names WHERE name = "f"')

In [18]:
cr.fetchall()

[(2, 'f', 51),
 (3, 'f', 27),
 (4, 'f', 52),
 (5, 'f', 54),
 (7, 'f', 28),
 (8, 'f', 51),
 (12, 'f', 58),
 (15, 'f', 31),
 (16, 'f', 61),
 (18, 'f', 52),
 (21, 'f', 19),
 (23, 'f', 58),
 (25, 'f', 23),
 (28, 'f', 56),
 (32, 'f', 62),
 (33, 'f', 48),
 (37, 'f', 55),
 (39, 'f', 55),
 (40, 'f', 38),
 (41, 'f', 47),
 (48, 'f', 68),
 (49, 'f', 23),
 (51, 'f', 27),
 (53, 'f', 52),
 (54, 'f', 29),
 (55, 'f', 51),
 (57, 'f', 24),
 (59, 'f', 56),
 (62, 'f', 67),
 (64, 'f', 59),
 (65, 'f', 59),
 (66, 'f', 26),
 (67, 'f', 38),
 (68, 'f', 27),
 (69, 'f', 60),
 (70, 'f', 28),
 (75, 'f', 21),
 (78, 'f', 32),
 (79, 'f', 49),
 (80, 'f', 62),
 (81, 'f', 20),
 (83, 'f', 34),
 (84, 'f', 39),
 (85, 'f', 68),
 (86, 'f', 46),
 (91, 'f', 20),
 (92, 'f', 35),
 (95, 'f', 56),
 (96, 'f', 45),
 (97, 'f', 67),
 (98, 'f', 26),
 (100, 'f', 27)]

In [19]:
cr.execute('SELECT * FROM names WHERE age > 35')

In [20]:
cr.fetchall()

[(1, 'm', 64),
 (2, 'f', 51),
 (4, 'f', 52),
 (5, 'f', 54),
 (6, 'm', 66),
 (8, 'f', 51),
 (9, 'm', 54),
 (10, 'm', 68),
 (12, 'f', 58),
 (14, 'm', 55),
 (16, 'f', 61),
 (18, 'f', 52),
 (19, 'm', 67),
 (22, 'm', 44),
 (23, 'f', 58),
 (24, 'm', 38),
 (26, 'm', 65),
 (27, 'm', 42),
 (28, 'f', 56),
 (29, 'm', 47),
 (30, 'm', 43),
 (32, 'f', 62),
 (33, 'f', 48),
 (34, 'm', 41),
 (35, 'm', 40),
 (36, 'm', 63),
 (37, 'f', 55),
 (38, 'm', 55),
 (39, 'f', 55),
 (40, 'f', 38),
 (41, 'f', 47),
 (42, 'm', 54),
 (43, 'm', 54),
 (44, 'm', 54),
 (45, 'm', 41),
 (46, 'm', 49),
 (47, 'm', 50),
 (48, 'f', 68),
 (52, 'm', 36),
 (53, 'f', 52),
 (55, 'f', 51),
 (56, 'm', 40),
 (58, 'm', 53),
 (59, 'f', 56),
 (60, 'm', 42),
 (61, 'm', 37),
 (62, 'f', 67),
 (64, 'f', 59),
 (65, 'f', 59),
 (67, 'f', 38),
 (69, 'f', 60),
 (71, 'm', 55),
 (73, 'm', 52),
 (74, 'm', 50),
 (76, 'm', 57),
 (79, 'f', 49),
 (80, 'f', 62),
 (82, 'm', 45),
 (84, 'f', 39),
 (85, 'f', 68),
 (86, 'f', 46),
 (87, 'm', 52),
 (88, 'm', 67),
 (89, 'm', 37),
 (94, 'm', 60),
 (95, 'f', 56),
 (96, 'f', 45),
 (97, 'f', 67)]

In [21]:
cr.execute('SELECT * FROM names WHERE name = "f" and age < 25')

In [22]:
cr.fetchall()

[(21, 'f', 19),
 (25, 'f', 23),
 (49, 'f', 23),
 (57, 'f', 24),
 (75, 'f', 21),
 (81, 'f', 20),
 (91, 'f', 20)]

In [26]:
cr.execute('DROP TABLE IF EXISTS ages')

In [27]:
cr.execute('SELECT * FROM names WHERE name < 28')

In [28]:
cr.fetchall()

[]

In [29]:
cr.execute('SELECT * FROM names WHERE age < 28')

In [30]:
cr.fetchall()

[(3, 'f', 27),
 (17, 'm', 19),
 (20, 'm', 19),
 (21, 'f', 19),
 (25, 'f', 23),
 (49, 'f', 23),
 (51, 'f', 27),
 (57, 'f', 24),
 (63, 'm', 25),
 (66, 'f', 26),
 (68, 'f', 27),
 (75, 'f', 21),
 (81, 'f', 20),
 (90, 'm', 25),
 (91, 'f', 20),
 (93, 'm', 18),
 (98, 'f', 26),
 (99, 'm', 18),
 (100, 'f', 27)]

In [31]:
cr.execute('SELECT * FROM names WHERE age < 28 AND name = "m"')

In [32]:
cr.fetchall()

[(17, 'm', 19),
 (20, 'm', 19),
 (63, 'm', 25),
 (90, 'm', 25),
 (93, 'm', 18),
 (99, 'm', 18)]

In [33]:
# cr. – применяется к объекту курсора
# –>
# execute() – выполнить одно конкретное действие
# executemany() – выполнить сразу несколько действий
# fetchone() – поймать первую строку результата
# fetchmany(N) – вывести N первых строк результата
# fetchall() – вывести все результаты
#
# cn. – применяется к объекту подключения
# –>
# cursor() – для того, чтобы создать курсор
# commit() – для того, чтобы сохранить внесенные изменения

In [34]:
cr.execute('DELETE FROM names WHERE name = "m" AND age < 28')

In [35]:
cn.commit()

In [37]:
cr.execute('select * from names where name = "m" and age < 28')

In [38]:
cr.fetchall()

[]

In [39]:
cr.execute('SELECT * FROM names')

In [40]:
res = cr.fetchall()

In [42]:
# res

In [43]:
len(res)

94

In [44]:
cn.close()

# НОВЫЙ CONNECT

In [45]:
cn = sq.connect('buyers.db')

In [46]:
cr = cn.cursor()

In [47]:
cr.execute('''CREATE TABLE IF NOT EXISTS buyers
(id INT PRIMARY KEY, name TEXT, level TEXT, city TEXT)''')

In [48]:
cr.execute('''CREATE TABLE IF NOT EXISTS sells
(sell_id INT PRIMARY KEY, name TEXT, product TEXT, summ INT)''')

In [49]:
cn.commit()

In [50]:
names = [''.join(rd.choices([*'йцукенгшщзхъёфывапролджэячсмитьбю'], k=5)) for i in range(10)]

In [51]:
names

['фзцёе',
 'сйюаэ',
 'бйъщж',
 'тмьёс',
 'тиянл',
 'ъпшею',
 'змэзы',
 'иивйы',
 'яззсч',
 'ёжшфю']

In [54]:
buyers = []
d = 1
for i in names:
    vr = []
    vr.append(d)
    vr.append(i)
    vr.append(rd.choice(['easy', 'medium', 'hard']))
    vr.append(rd.choice(['msk', 'spb', 'ekb', 'nvs']))
    buyers.append(vr)
    d += 1

In [55]:
buyers

[[1, 'фзцёе', 'easy', 'nvs'],
 [2, 'сйюаэ', 'easy', 'spb'],
 [3, 'бйъщж', 'easy', 'ekb'],
 [4, 'тмьёс', 'hard', 'spb'],
 [5, 'тиянл', 'hard', 'msk'],
 [6, 'ъпшею', 'hard', 'ekb'],
 [7, 'змэзы', 'medium', 'spb'],
 [8, 'иивйы', 'hard', 'spb'],
 [9, 'яззсч', 'hard', 'ekb'],
 [10, 'ёжшфю', 'medium', 'nvs']]

In [56]:
cr.executemany('INSERT INTO buyers(id, name, level, city) VALUES(?, ?, ?, ?)', buyers)

In [57]:
cn.commit()

In [58]:
cr.execute('SELECT * FROM buyers')

In [59]:
cr.fetchall()

[(1, 'фзцёе', 'easy', 'nvs'),
 (2, 'сйюаэ', 'easy', 'spb'),
 (3, 'бйъщж', 'easy', 'ekb'),
 (4, 'тмьёс', 'hard', 'spb'),
 (5, 'тиянл', 'hard', 'msk'),
 (6, 'ъпшею', 'hard', 'ekb'),
 (7, 'змэзы', 'medium', 'spb'),
 (8, 'иивйы', 'hard', 'spb'),
 (9, 'яззсч', 'hard', 'ekb'),
 (10, 'ёжшфю', 'medium', 'nvs')]

In [60]:
sells = []
d = 1
for i in range(80):
    vr = []
    vr.append(d)
    d += 1
    vr.append(rd.choice(names))
    vr.append(rd.choice(['a', 'b', 'c', 'd', 'e']))
    vr.append(rd.randint(100, 20000))
    sells.append(vr)

In [62]:
# sells

In [64]:
cr.executemany('INSERT INTO sells(sell_id, name, product, summ) VALUES(?, ?, ?, ?)', 
               sells)

In [65]:
cn.commit()

In [66]:
cr.execute('SELECT * FROM sells')

In [67]:
cr.fetchmany(5)

[(1, 'змэзы', 'c', 13606),
 (2, 'ъпшею', 'c', 4766),
 (3, 'ъпшею', 'd', 1770),
 (4, 'сйюаэ', 'b', 5677),
 (5, 'фзцёе', 'd', 3276)]

In [68]:
cr.execute('''SELECT sells.name, sells.product, sells.summ, 
buyers.level, buyers.city FROM sells JOIN buyers ON buyers.name=sells.name''')

In [69]:
cr.fetchall()

[('змэзы', 'c', 13606, 'medium', 'spb'),
 ('ъпшею', 'c', 4766, 'hard', 'ekb'),
 ('ъпшею', 'd', 1770, 'hard', 'ekb'),
 ('сйюаэ', 'b', 5677, 'easy', 'spb'),
 ('фзцёе', 'd', 3276, 'easy', 'nvs'),
 ('иивйы', 'b', 19661, 'hard', 'spb'),
 ('сйюаэ', 'b', 7412, 'easy', 'spb'),
 ('фзцёе', 'e', 5465, 'easy', 'nvs'),
 ('бйъщж', 'e', 6778, 'easy', 'ekb'),
 ('сйюаэ', 'b', 7177, 'easy', 'spb'),
 ('иивйы', 'd', 19110, 'hard', 'spb'),
 ('яззсч', 'b', 6610, 'hard', 'ekb'),
 ('змэзы', 'a', 5769, 'medium', 'spb'),
 ('бйъщж', 'b', 15531, 'easy', 'ekb'),
 ('змэзы', 'b', 8542, 'medium', 'spb'),
 ('тиянл', 'b', 11029, 'hard', 'msk'),
 ('ёжшфю', 'b', 12187, 'medium', 'nvs'),
 ('иивйы', 'a', 10212, 'hard', 'spb'),
 ('бйъщж', 'a', 1617, 'easy', 'ekb'),
 ('фзцёе', 'b', 14020, 'easy', 'nvs'),
 ('ъпшею', 'd', 10495, 'hard', 'ekb'),
 ('ёжшфю', 'e', 735, 'medium', 'nvs'),
 ('ъпшею', 'a', 6649, 'hard', 'ekb'),
 ('змэзы', 'e', 6065, 'medium', 'spb'),
 ('тиянл', 'd', 18210, 'hard', 'msk'),
 ('бйъщж', 'e', 6104, 'easy', 'ekb'),
 ('тиянл', 'a', 10061, 'hard', 'msk'),
 ('фзцёе', 'b', 9689, 'easy', 'nvs'),
 ('яззсч', 'b', 7385, 'hard', 'ekb'),
 ('ёжшфю', 'b', 491, 'medium', 'nvs'),
 ('тмьёс', 'a', 13747, 'hard', 'spb'),
 ('тмьёс', 'd', 9676, 'hard', 'spb'),
 ('тмьёс', 'c', 3788, 'hard', 'spb'),
 ('тиянл', 'a', 12770, 'hard', 'msk'),
 ('сйюаэ', 'd', 15181, 'easy', 'spb'),
 ('бйъщж', 'e', 8201, 'easy', 'ekb'),
 ('иивйы', 'b', 15860, 'hard', 'spb'),
 ('сйюаэ', 'd', 19466, 'easy', 'spb'),
 ('бйъщж', 'b', 9451, 'easy', 'ekb'),
 ('тиянл', 'd', 2719, 'hard', 'msk'),
 ('иивйы', 'b', 2376, 'hard', 'spb'),
 ('ёжшфю', 'd', 17967, 'medium', 'nvs'),
 ('фзцёе', 'b', 4788, 'easy', 'nvs'),
 ('ъпшею', 'd', 10566, 'hard', 'ekb'),
 ('змэзы', 'b', 13990, 'medium', 'spb'),
 ('тиянл', 'd', 14744, 'hard', 'msk'),
 ('яззсч', 'a', 10034, 'hard', 'ekb'),
 ('фзцёе', 'c', 14604, 'easy', 'nvs'),
 ('сйюаэ', 'e', 6477, 'easy', 'spb'),
 ('иивйы', 'e', 18843, 'hard', 'spb'),
 ('тиянл', 'b', 7898, 'hard', 'msk'),
 ('фзцёе', 'c', 16794, 'easy', 'nvs'),
 ('тмьёс', 'b', 10175, 'hard', 'spb'),
 ('тиянл', 'd', 6007, 'hard', 'msk'),
 ('иивйы', 'a', 3621, 'hard', 'spb'),
 ('змэзы', 'c', 4131, 'medium', 'spb'),
 ('ёжшфю', 'a', 2181, 'medium', 'nvs'),
 ('ъпшею', 'c', 13365, 'hard', 'ekb'),
 ('тмьёс', 'e', 2736, 'hard', 'spb'),
 ('тмьёс', 'c', 4043, 'hard', 'spb'),
 ('яззсч', 'e', 16877, 'hard', 'ekb'),
 ('сйюаэ', 'a', 15655, 'easy', 'spb'),
 ('фзцёе', 'b', 15312, 'easy', 'nvs'),
 ('бйъщж', 'a', 16924, 'easy', 'ekb'),
 ('тмьёс', 'c', 14619, 'hard', 'spb'),
 ('иивйы', 'e', 10564, 'hard', 'spb'),
 ('тмьёс', 'c', 7847, 'hard', 'spb'),
 ('ёжшфю', 'a', 9003, 'medium', 'nvs'),
 ('змэзы', 'b', 2347, 'medium', 'spb'),
 ('бйъщж', 'd', 11500, 'easy', 'ekb'),
 ('тиянл', 'c', 11054, 'hard', 'msk'),
 ('ъпшею', 'c', 10684, 'hard', 'ekb'),
 ('тмьёс', 'b', 7102, 'hard', 'spb'),
 ('тиянл', 'b', 6005, 'hard', 'msk'),
 ('змэзы', 'd', 3757, 'medium', 'spb'),
 ('яззсч', 'b', 344, 'hard', 'ekb'),
 ('ъпшею', 'c', 17688, 'hard', 'ekb'),
 ('фзцёе', 'c', 14465, 'easy', 'nvs'),
 ('тиянл', 'd', 3030, 'hard', 'msk'),
 ('змэзы', 'd', 18761, 'medium', 'spb')]

In [70]:
cr.execute('''CREATE TABLE IF NOT EXISTS zooparki
(id INT PRIMARY KEY, animal TEXT, zoo TEXT)''')

In [71]:
cr.execute('''CREATE TABLE IF NOT EXISTS food
(id INT PRIMARY KEY, animal TEXT, food TEXT)''')

In [72]:
cn.commit()

In [73]:
a = [
    [1, 'zebra', 'msk'],
    [2, 'lion', 'msk'],
    [3, 'tigra', 'spb'],
    [4, 'coala', 'spb'],
    [5, 'volk', 'ekb']
]

In [74]:
b = [
    [1, 'cat', 'dog'],
    [2, 'lion', 'meat'],
    [3, 'tigra', 'meat'],
    [4, 'coala', 'evkalipt'],
    [5, 'dog', 'cat']
]

In [75]:
cr.executemany('INSERT INTO zooparki(id, animal, zoo) VALUES(?, ?, ?)', a)

In [76]:
cr.executemany('INSERT INTO food(id, animal, food) VALUES(?, ?, ?)', b)

In [77]:
cn.commit()

In [78]:
cr.execute('SELECT * FROM zooparki')
cr.fetchall()

[(1, 'zebra', 'msk'),
 (2, 'lion', 'msk'),
 (3, 'tigra', 'spb'),
 (4, 'coala', 'spb'),
 (5, 'volk', 'ekb')]

In [79]:
cr.execute('SELECT * FROM food')
cr.fetchall()

[(1, 'cat', 'dog'),
 (2, 'lion', 'meat'),
 (3, 'tigra', 'meat'),
 (4, 'coala', 'evkalipt'),
 (5, 'dog', 'cat')]

## INNER JOIN (объединение только того, что есть в обеих колонках)

In [82]:
cr.execute('''SELECT zooparki.animal, zooparki.zoo, food.food 
FROM zooparki JOIN food ON zooparki.animal=food.animal''')

In [83]:
cr.fetchall()

[('lion', 'msk', 'meat'),
 ('tigra', 'spb', 'meat'),
 ('coala', 'spb', 'evkalipt')]

In [84]:
cr.execute('''SELECT zooparki.animal, zooparki.zoo, food.food 
FROM zooparki INNER JOIN food ON zooparki.animal=food.animal''')

In [85]:
cr.fetchall()

[('lion', 'msk', 'meat'),
 ('tigra', 'spb', 'meat'),
 ('coala', 'spb', 'evkalipt')]

## OUTER JOIN (объединение всего, что есть в обеих колонках)

In [87]:
cr.execute('''SELECT zooparki.animal, zooparki.zoo, food.food 
FROM zooparki OUTER JOIN food ON zooparki.animal=food.animal''')

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

## LEFT JOIN (объединение, которое содержит все колонки из левой таблицы)

In [88]:
cr.execute('''SELECT zooparki.animal, zooparki.zoo, food.food 
FROM zooparki LEFT JOIN food ON zooparki.animal=food.animal''')

In [89]:
cr.fetchall()

[('zebra', 'msk', None),
 ('lion', 'msk', 'meat'),
 ('tigra', 'spb', 'meat'),
 ('coala', 'spb', 'evkalipt'),
 ('volk', 'ekb', None)]

In [92]:
cr.execute('''SELECT zooparki.animal, zooparki.zoo, food.food 
FROM food LEFT JOIN zooparki ON food.animal=zooparki.animal''')

In [93]:
cr.fetchall()

[(None, None, 'dog'),
 ('lion', 'msk', 'meat'),
 ('tigra', 'spb', 'meat'),
 ('coala', 'spb', 'evkalipt'),
 (None, None, 'cat')]

In [94]:
cn

In [95]:
cn2 = sq.connect('names.db')

In [96]:
cn2

In [97]:
cr2 = cn2.cursor()

In [98]:
cr.execute('SELECT * FROM buyers')
result1 = cr.fetchall()

cr2.execute('SELECT * FROM names')
result2 = cr2.fetchall()

In [99]:
result1

[(1, 'фзцёе', 'easy', 'nvs'),
 (2, 'сйюаэ', 'easy', 'spb'),
 (3, 'бйъщж', 'easy', 'ekb'),
 (4, 'тмьёс', 'hard', 'spb'),
 (5, 'тиянл', 'hard', 'msk'),
 (6, 'ъпшею', 'hard', 'ekb'),
 (7, 'змэзы', 'medium', 'spb'),
 (8, 'иивйы', 'hard', 'spb'),
 (9, 'яззсч', 'hard', 'ekb'),
 (10, 'ёжшфю', 'medium', 'nvs')]

In [100]:
result2

[(1, 'm', 64),
 (2, 'f', 51),
 (3, 'f', 27),
 (4, 'f', 52),
 (5, 'f', 54),
 (6, 'm', 66),
 (7, 'f', 28),
 (8, 'f', 51),
 (9, 'm', 54),
 (10, 'm', 68),
 (11, 'm', 31),
 (12, 'f', 58),
 (13, 'm', 33),
 (14, 'm', 55),
 (15, 'f', 31),
 (16, 'f', 61),
 (18, 'f', 52),
 (19, 'm', 67),
 (21, 'f', 19),
 (22, 'm', 44),
 (23, 'f', 58),
 (24, 'm', 38),
 (25, 'f', 23),
 (26, 'm', 65),
 (27, 'm', 42),
 (28, 'f', 56),
 (29, 'm', 47),
 (30, 'm', 43),
 (31, 'm', 35),
 (32, 'f', 62),
 (33, 'f', 48),
 (34, 'm', 41),
 (35, 'm', 40),
 (36, 'm', 63),
 (37, 'f', 55),
 (38, 'm', 55),
 (39, 'f', 55),
 (40, 'f', 38),
 (41, 'f', 47),
 (42, 'm', 54),
 (43, 'm', 54),
 (44, 'm', 54),
 (45, 'm', 41),
 (46, 'm', 49),
 (47, 'm', 50),
 (48, 'f', 68),
 (49, 'f', 23),
 (50, 'm', 33),
 (51, 'f', 27),
 (52, 'm', 36),
 (53, 'f', 52),
 (54, 'f', 29),
 (55, 'f', 51),
 (56, 'm', 40),
 (57, 'f', 24),
 (58, 'm', 53),
 (59, 'f', 56),
 (60, 'm', 42),
 (61, 'm', 37),
 (62, 'f', 67),
 (64, 'f', 59),
 (65, 'f', 59),
 (66, 'f', 26),
 (67, 'f', 38),
 (68, 'f', 27),
 (69, 'f', 60),
 (70, 'f', 28),
 (71, 'm', 55),
 (72, 'm', 29),
 (73, 'm', 52),
 (74, 'm', 50),
 (75, 'f', 21),
 (76, 'm', 57),
 (77, 'm', 30),
 (78, 'f', 32),
 (79, 'f', 49),
 (80, 'f', 62),
 (81, 'f', 20),
 (82, 'm', 45),
 (83, 'f', 34),
 (84, 'f', 39),
 (85, 'f', 68),
 (86, 'f', 46),
 (87, 'm', 52),
 (88, 'm', 67),
 (89, 'm', 37),
 (91, 'f', 20),
 (92, 'f', 35),
 (94, 'm', 60),
 (95, 'f', 56),
 (96, 'f', 45),
 (97, 'f', 67),
 (98, 'f', 26),
 (100, 'f', 27)]

In [ ]:
{
    'Anna': {
        'phone_number': '7-999-999-99-99',
        'city': 'msk',
        'address': 'qwerty 12, 86'
    },
    
    'Boris': {
        'phone_number': '7-999-999-99-99',
        'address': 'qwerty 13, 92',
        'age': 83
    },
    
    'Clive': {
        'city': 'spb',
        'work': 'ZAVOD',
        'pet': 'Sobaka'
    }
}